[Unit]
Description=config-server example

# You may want to start after your network is ready
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/mvn -f /home/fedora/code/supplychain/config-server clean spring-boot:run
Restart=Always
PIDFile=/tmp/config-server-pid

[Install]
WantedBy=network-online.target