[Unit]
Description=service registry (eureka) for microservices project

# You may want to start after your network is ready
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/mvn -f /home/fedora/code/supplychain/service-registry clean spring-boot:run
Restart=Always
PIDFile=/tmp/service-registry-pid

[Install]
WantedBy=network-online.target